{% extends "base.html" %}
{% block content %}

        <header class="masthead">
            <div class="container">

                <div class="masthead-heading text-uppercase">
                    {{ article.title }}
                </div>
            </div>
        </header>
        <div class="article_date">Data upublikowania: {{ article.pub_date }}</div>
        <div class="article_block">
            <img src="{{ article.image.url }}" alt="{{ article.title }}">
        </div>

        <div class="article_content">
            <p>{{ article.content | safe }}</p>
        </div>


{% endblock %}