{% extends "base.html" %}
{% block content %}

    <header class="masthead">
            <div class="container">

                <div class="masthead-heading text-uppercase">Galeria</div>
            </div>
    </header>

    <div class="row text-center" id="blok">
    <h2>Galeria zdjęć</h2>

    <img src="/static/images/dr_p_m_owsianny.jpg" alt="3. Dr P.M. owsianny na jeziorze Płotki" height="49%" width="49%" style="float: left; margin-right: 2%;margin-bottom: 2%" >
    <img src="/static/images/glowne_zdjecie_HSA.jpg" alt="Główne_Zdjęcie_RobertJudycki_HSA"  height="49%" width="49%" style="float: left;margin-bottom: 2%">
    <img src="/static/images/jezioro_plotki_PMO.jpg" alt="Jezioro Płotki,fot. PMO"  height="49%" width="49%" style="float: left;margin-right: 2%;margin-bottom: 2%">
    <img src="/static/images/Prof_Bogumila_Kaniewska.jpg" alt="Główne Zdjęcie Robert Judycki HSA"  height="49%" width="49%" style="float: left;margin-bottom: 2%">
    </div>

    <div class="row text-center" id="blok">
        <img src="/static/images/plotki2009.jpg" alt="Płotki ROK 2009 F.Śliwiński"  height="49%" width="49%" style="margin-bottom: 2%">
    </div>

{% endblock %}