{% extends "base.html" %}
{% block content %}

    <header class="masthead">
            <div class="container">

                <div class="masthead-heading text-uppercase">Strona główna</div>
            </div>
    </header>



    <h1>ARTYKUŁY</h1>
    <div class="articles">
    {% for article in articles %}
        {% if article.category == 'Strona-Glowna' %}
            <div class="article_box">
            <h2>{{ article.title }}</h2>
            <img src="{{ article.image.url }}" alt="{{ article.title }}">
            <p>{{ article.pub_date }}</p>

            <span>{{ article.content | safe }}</span>
            <a href="{% url 'article_details' article_id=article.id %}">Czytaj dalej</a>
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <h1>KAMERA</h1>

    <h1>TEMPERATURA</h1>
    <div class="temp_box">
    <p>{{ temperature.temperature }}&degC</p>
    <a href="{% url 'temperatura' %}">Temperatura</a>
    </div>
{% endblock %}