{% extends "base.html" %}
{% block content %}

    <header class="masthead">
            <div class="container">

                <div class="masthead-heading text-uppercase">Obszar Natura 2000</div>
            </div>
    </header>

    <div class="row text-center" id="blok">
    <h2>Informacje o obszarze</h2>
                <p>
                   Obszar Natura 2000 obejmuje obszar jeziora Płotki i jego otoczenia. Ma on na celu ochronę siedlisk przyrodniczych oraz gatunków roślin i zwierząt, które występują na tym terenie.
                </p>
            </div>

{% endblock %}
